*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
:root{
    --drak-violet:#1e172f;
    --section-one:#2e2550;
    --pink:#f41587;
}
/* header */
header{
    width:auto;
    height: 60px;
    background-color: var(--drak-violet);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{ 
    width:150px;
    height:60px;
}
#nav-id{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button-nav{
    width: 120px;
    height: 50px;
    background: linear-gradient(90deg, #ae00ff, #03a9f4);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
}
.nav-link{
    color: white;
    font-size: 20px;
}
#section1{
    display: flex;
    flex-direction: row;
}
#left-section1{
    width: 100%;
    height: 800px;
    background-color: #2e2550;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#product{
    margin-left: 320px;
}
.p-p{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}
#text1{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
#button1-sect1{
    margin-top: 25px;
    width: 180px;
    height: 50px;
    background-color: whitesmoke;
    color: var(--pink);
    border: none;
    padding: 12px 25px;
    border-radius: 3px;
    font-weight: bold;
}
#button2-sect1{
    margin-top: 25px;
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: whitesmoke;
    padding: 10px 35px;
    outline: none;
    border: solid 2px whitesmoke;
    border-radius: 3px;
    font-weight: bold;
}
#right-section1{
    width: 100%;
    height: 800px;
    background-image: url(/assets/images/hojasFondo.jpg);
    background-size: cover;
    opacity: 0.9;
}
#phone{
    position: relative;
    left: 120px;
    top: 100px;
}
#section2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: auto;
    height:700px;
}
#title-sect2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f41587;
    font-size: 60px;
    font-weight:bolder;
    margin-top: 30px;
    letter-spacing: 3px;
}
#boxs-sect2{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 100px;
    margin-left: 220px;
}
#left-section2{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#laptop{
    width: 650px;
}
#right-section2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#Alpha{
    width: 400px;
    font-size: 50px;
    color: #f41587;
}
#text2{
    margin-top: 60px;
    font-size: 20px;
    width: 450px;
}
#Marketing{
    margin-top: 40px;
    font-size: 30px;
    color: #f41587;
}
#symbols-texts{
    width: auto;
    display: flex;
    flex-direction: row;
}
#symbols{
    display: flex;
    flex-direction: column;
}
.symbol-sect2{
    width: 20px;
    font-size: 30px;
    color: #f41587;
    padding-top: 8px;
}
#texts-sect2{
    width: auto;
    display: flex;
    flex-direction: column;
}
.class-texts{
    font-size: 15px;
    padding: 16px;
}
#section3{
    background-color: #2e2550;
    height: 900px;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-sect3{
    color: white;
    font-size: 60px;
    margin-top: 20px;
    width: auto;
}
#text3{
    margin-top: 30px;
    width: 800px;
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
}
#boxs-sect3{
    margin-top: 40px;
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.column-boxs-sect3{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    background-color: white;
}
.box1-boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 150px;
}
#text1-box1{
    color: #f41587;
    font-size: 20px;
    font-weight: bolder;
}
.texts-box1{
    color:#2e2550;
    font-size: 20px;
    font-weight: bolder;
}
.box2-boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: #f5f5f5;
}
.numbers-box2{
    font-size: 30px;
    font-weight:normal;
}
.texts-numbers-box2{
    font-size: 15px;
    margin-bottom: 20px;
}
.box3-boxs{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 30px;
}
.symbols-boxs1{
    margin-left:40px;
    color: #f41587;
    padding-top: 20px;
    font-weight: bold;
}
.last-symbol-boxs{
    margin-left:40px;
    color: #2e2550;
    padding-top: 20px;
    font-weight: bold;
}
.box3-2-boxs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texts-boxs3{
    margin-left: 15px;
    color:#1e172f;
    font-size: 20px;
    padding-top: 18px;
}
.symbols-boxs{
    margin-left:40px;
    color:#2e2550;
    padding-top: 20px;
    font-weight: bold;
}
.lorem-div{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-top: 30px;
    margin-left: 50px;
}
.box4-boxs{
    height: 60px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button-box4{
    height: 50px;
    background-color:#1e172f;
    color: whitesmoke;
    padding: 10px 35px;
    outline: none;
    border: solid 2px whitesmoke;
    border-radius: 8px;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: whitesmoke;
}
#text4{
    margin-left: 320px;
    font-size: 15px;
}
#name-footer{
    font-size: 15px;
    color:#f41587;
}
#email-footer{
    font-size: 15px;
}
#footer-images{
    margin-left: 350px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.footer-img{
    width: 30px;
    height: 30px;
}
/* media query */

@media screen and (max-width: 921px) {

#product{
    margin-left: 20px;
}
#left-section2{
    width: 80px;
}
#laptop{
    width: 400px;
}
#right-section2{
    margin-left: 200px;
}
#text2{
    width: 400px;
    margin-top: 20px;
}
#boxs-sect3{
    width: 900px;
}
.column-boxs-sect3{
    width: 250px;
}
.lorem-boxs3{
    margin-right: 40px;
}
#text4{
    margin-left: 0px;
}
#footer-images{
    margin-left: 80px;
}
}
@media screen and (max-width: 769px) {
    #product{
        margin-left: 0px;
    }
    .p-p{
        text-align: center;
    }
    #text1{
        width: auto;
        text-align: center;
    }
    #button1-sect1{
        margin-left: 10px;
    }
    #phone{
        left: 40px;
    }
    #left-section2{
        width: 0px;
    }
    #laptop{
        width: 300px;
    }
    #right-section2{
        margin-left: 150px;
    }
    #text3{
        width: 600px;
    }
    #boxs-sect3{
        width: 780px;
    }
    .column-boxs-sect3{
        width:240px ;
    }
    #footer-images{
        justify-content: none;
        margin-left: 0px;
    }
}
@media screen and (max-width: 481px) {
    .nav-link{
        font-size: 10px;
    }
    #left-section1{
        height: 600px;
    }
    #right-section1{
        height: 600px;
    }
    .p-p{
        font-size: 40px;
    }
    #text1{
        font-size: 15px;
    }
    #button1-sect1{
        margin-left: 30px;
    }
    #button2-sect1{
        margin-left: 30px;
    }
    #phone{
        width: 150px;
        top: 150px;
    }
    #section2{
        height: 600px;
    }
    #title-sect2{
        font-size:40px;
    }
    #boxs-sect2{
        flex-direction: column;
        margin-top: 50px;
        margin-left: 50px;
    }
    #laptop{
        width: 220px;
        margin-left: 380px;
    }
    #right-section2{
        margin-left: 0px;
    }
    #Alpha{
        font-size: 40px;
        margin-left: 50px;
    }
    #text2{
        text-align: center;
    }
    #Marketing{
        margin-left: 60px;
        margin-top: 10px;
        width: 300px;
    }
    #symbols-texts{
        margin-left: 100px;
        height: auto;
    }
    .symbol-sect2{
        padding-top: 0px;
    }
    .class-texts{
        width: 150px;
        padding-top: 6px;
    }
    #boxs-sect3{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2000px;
        justify-content: space-evenly;
    }
    .lorem-boxs3{
        margin-right: 50px;
    }
}
@media screen and (max-width: 352px) {
    header{
        justify-content: space-evenly;
    }
    #logo{
        width: 100px;
        height: 30px;
    }
    #nav-id{
        width: 400px;
        justify-content: space-evenly;
    }
    #button-nav{
        width: 80px;
        height:40px;
        padding:0px;
    }
    #text1{
        width: 100px;
        margin-left: 30px;
    }
    #button1-sect1{
        width: 120px;
    }
    #button2-sect1{
        width: 120px;
    }
    #phone{
        width: 100px;
        top: 200px;
    }
    #title-sect2{
        font-size: 25px;
    }
    #section2{
        height: auto;
    }
    #boxs-sect2{
        margin-top: 20px;
    }
    #laptop{
        width: 150px;
        margin-left: 250px;
    }
    #Alpha{
        width: auto;
        font-size: 25px;
        margin-left: 40px;
        margin-top: 20px;
    }
    #text2{
        font-size: 15px;
        width: 120px;
        margin-left: 60px;
    }
    #Marketing{
        width: auto;
        font-size: 25px;
        margin-left:20px;
    }
    #symbols-texts{
        margin-left: 20px;
    }
    .class-texts{
        padding-top: 8px;
    }
    #title-sect3{
        text-align: center;
    }
    #text3{
        font-size: 15px;
        width: 200px;
    }
    #boxs-sect3{
        width: auto;
    }
    #text4{
        font-size: 10px;
    }
    #name-footer{
        font-size: 10px;
    }
    #email-footer{
        font-size: 10px;
    }
    .footer-img{
        width: 20px;
    }
}






