*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
:root{
    --drak-violet:#1e172f;
    --section-one:#2e2550;
    --pink:#f41587;
}
/* header */
header{
    width:auto;
    height: 60px;
    background-color: var(--drak-violet);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{ 
    width:150px;
    height:60px;
}
#nav-id{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button-nav{
    width: 120px;
    height: 50px;
}
.nav-link{
    color: white;
    font-size: 20px;
}
#section1{
    display: flex;
    flex-direction: row;
}
#left-section1{
    width: 100%;
    height: 800px;
    background-color: #2e2550;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#product{
    margin-left: 320px;
}
.p-p{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}
#text1{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
#button1-sect1{
    margin-top: 25px;
    width: 180px;
    height: 50px;
}
#button2-sect1{
    margin-top: 25px;
    width: 180px;
    height: 50px;
}
#right-section1{
    width: 100%;
    height: 800px;
    background-image: url(/assets/images/hojasFondo.jpg);
    background-size: cover;
    opacity: 0.9;
}
#phone{
    position: relative;
    left: 120px;
    top: 100px;
}
#section2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: auto;
    height:700px;
}
#fonctionnalites{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f41587;
    font-size: 60px;
    font-weight:bolder;
    margin-top: 30px;
    letter-spacing: 3px;
}
#boxs-sect2{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 100px;
    margin-left: 220px;
}
#left-section2{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#laptop{
    width: 650px;
}
#right-section2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#Alpha{
    width: 400px;
    font-size: 50px;
    color: #f41587;
}
#text2{
    margin-top: 60px;
    font-size: 20px;
    width: 450px;
}
#Marketing{
    margin-top: 40px;
    font-size: 30px;
}
#symbols-texts{
    display: flex;
    flex-direction: row;
}
#symbols{
    width: 15px;
    display: flex;
    flex-direction: column;
}
.symbol-sect2{
    color: #f41587;
    padding-top: 15px;
}
#symbol-texts{
    display: flex;
    flex-direction: row;
}

